

@import actors.StatusMessage
@import actors.Jobstatus

@import java.util.List

@(jobs:Vector[Jobstatus], stats: Map[String,Map[String, Integer]])
<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close stop" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <h4 class="modal-title" id="myModalLabel">Monitor</h4>
    </div>
    <div class="modal-body">
        <h2>Jobs</h2>
        <table class="table table-hover">
            <thead>
                <th>Type</th>
                <th>Worker</th>
                <th>Count</th>
                <th></th>
            </thead>
            @if(jobs.size() == 0) {
                <tr>
                    <td colspan="5">no active Jobs or to busy to show jobs</td>
                </tr>
            }
            @for(job <- jobs) {

                <tr>
                    <td>@job.getType()</td>
                    <td>@job.getWorker()</td>
                    <td>@job.getCount()</td>
                    <td><a id="jobstopbutton" class="btn btn-default jobstopbutton" data-url="@routes.RepositoryApp.stop("stop"+job.getType())" href="#">Stop</a></td>
                </tr>

            }
        </table>

        <h2>Statistics</h2>
       @for((key,value) <- stats) {
           <div>
           <h3>@key</h3>
           <table class="table table-hover">
               <thead>
                   <th>Type</th>
                   <th>Count</th>
               </thead>
               @for((k,v) <- value) {
                   <tr>
                       <td>@Messages("document.status."+k)</td>
                       <td>@v</td>
                   </tr>
               }
               </table>
           </div>
       }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary update">Update</button>
        <button type="button" class="btn btn-default stop" data-dismiss="modal">Close</button>
    </div>

</div>