@(record: Record)
@import helper._
@import helper.twitterBootstrap._
@import play.i18n._

@main(record.repository.title) {

    <h2>@record.identifier @record.title</h2>
    <div>in: <a href="@routes.RecordApplication.list(record.repository.repository_id)">@record.repository.title</a></div>
    <div>Status: @Messages.get("document.status."+record.status)</div>
    <div>SIP ID: @record.sipId</div>
    <div>Last Error: @record.errormsg</div>
    <div>SipStatus: @record.sipStatus</div>
    <div>SipActive: @record.sipActive</div>
    <div>SipModul: @record.sipModul</div>
    <div>Resources: @record.resources.size()</div>


    <a href="@routes.RecordApplication.show(record.recordId)">refresh</a>

    @if(record.status < Record.STATUSIMPORTED) {
    <div><a href="@routes.RecordApplication.fetchOAI(record.recordId)">fetch</a></div>
    }
    @if(record.status == Record.STATUSIMPORTED) {
        <div><a href="@routes.RecordApplication.createIE(record.recordId)">createIE</a></div>
    }
    @if(record.status == Record.STATUSIECREATED) {
        <div><a href="@routes.RecordApplication.push(record.recordId)">push</a></div>
    }
    @if(record.status == Record.STATUSEXPORTED) {
        <div><a href="@routes.RecordApplication.deposit(record.recordId)">deposit</a></div>
    }
    @if(record.status == Record.STATUSINGESTED) {
        <div><a href="@routes.RecordApplication.sipstatus(record.recordId)">sipstatus</a></div>
    }

    @if(record.status < Record.STATUSINGESTED || (record.sipActive != null && record.sipActive.equals("DECLINED"))) {
        <div><a href="@routes.RecordApplication.reset(record.recordId)">reset @Record.STATUSINGESTED </a></div>
    }

}
