@(repoForm: Form[Repository])
@import helper._
@import helper.twitterBootstrap._
@main("zbw subapp") {

    @helper.form(action = routes.RepositoryApp.submit(), 'id -> "repoForm") {
        <fieldset>

            <legend>Repository (@repoForm("id").valueOr("New"))</legend>
        @helper.inputText(repoForm("title"), '_label -> "Titel")
        @helper.inputText(repoForm("oaiUrl"),'size -> 50)
        @helper.inputText(repoForm("oaiTitle"),'size -> 50)
        @helper.textarea(repoForm("oaiMapping"),'rows -> 10, 'cols->50)
        @helper.inputText(repoForm("pdsUrl"),'size -> 50)
        @helper.inputText(repoForm("depositWsdlUrl"),'size -> 50)
        @helper.inputText(repoForm("depositWsdlEndpoint"),'size -> 50)
        @helper.inputText(repoForm("producerWsdlUrl"),'size -> 50)
        @helper.inputText(repoForm("producerWsdlEndpoint"),'size -> 50)
        @helper.inputText(repoForm("sipstatusWsdlUrl"),'size -> 50)
        @helper.inputText(repoForm("sipstatusWsdlEndpoint"),'size -> 50)
        @helper.inputText(repoForm("materialFlowId"))
        @helper.inputText(repoForm("producerId"))
        @helper.inputText(repoForm("depositSetId"))
        @helper.inputText(repoForm("userName"))
        @helper.inputText(repoForm("institution"))
        @helper.inputText(repoForm("password"))
        @helper.inputText(repoForm("ftpHost"))
        @helper.inputText(repoForm("ftpUser"))
        @helper.inputText(repoForm("ftpPort"))
        @helper.inputText(repoForm("ftpDir"))
        @helper.inputText(repoForm("ftpKey"))
        @helper.inputText(repoForm("ftpMax"))
        @helper.checkbox(repoForm("active"))
        @helper.inputText(repoForm("joblimit"))
        <input type="hidden" value="@repoForm("id").value" name="id">
        <input type="hidden" value="@repoForm("repository_id").value" name="repository_id">
        </fieldset>
        <button type="submit" class="btn btn-default">Save</button>
    }

}
